*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 40px;
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: Delicious Handrawn, serif;
    font-size: 1.25rem;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tiles {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(42, 42, 42);
    margin: 6px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px lightgray;
}

h2 {
    padding: 10px;
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: Delicious Handrawn, serif;
    font-size: 1.75rem;
}

/* 1. Rainbow Wheel (TODO: add wheel reverse on click, on hover larger scale and darker shadow - make it look like it's rising off the page) */
.container-1 {
    position: relative;
    top: 38%;
}

.circle {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer {
    width: 200px;
    height: 200px;
    background: conic-gradient(cyan, yellow, magenta, cyan);
    animation: rainbow-wheel 3s linear infinite;
    box-shadow: 0px 0px 150px -75px black;
}

.inner {
    width: 130px;
    height: 130px;
    background-color: white;
    box-shadow: inset 0px 0px 70px -70px black;
}

@keyframes rainbow-wheel {
    0% { transform: 
        translate(-50%, -50%)
        rotate(0deg);
    }
    100% { transform: 
        translate(-50%, -50%)
        rotate(360deg);
    }
}

.circle:hover {
    animation-direction: reverse;
}

/* 2. 3D Star (TODO: add a starburst in background on click, or some animation) */
.container-2 {
    position: relative;
    top: 40%;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;  
    aspect-ratio: 1;
    background: conic-gradient(yellow, orange, yellow, orange, yellow, orange, yellow, orange, yellow, orange, yellow);
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
}

/* 3. Crossword Text - TODO: transform red letters on hover */
.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -48px;
    margin-top: 50px;
    width: 100%;
}

.container-3 .word {
    display: flex;
}

.container-3 .word .letter {
    width: 1.4em;
    height: 1.5em;
    margin: 0.05em;
    background-color: #636363;
    color: white;
    text-align: center;
    user-select: none;
    position: relative;
    order: 2;
    right: 50%;
}

.container-3 .word .letter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.container-3 .word .letter:last-child {
    margin-right: auto;
}
  
.container-3 .word .pivot {
    background-color: rgb(184, 5, 5);
}
  
.container-3 .word .pivot,
.container-3 .word .pivot ~ .letter {
    order: 1;
    left: 50%;
}

.container-3 .word .pivot:hover {
    background-color: black;
}


/* TODO: Be able to turn the tiles "on" and "off" have multiple on at a time */