*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 239, 245);
}

header {
    padding: 40px;
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: "Bytesized", serif;
    font-size: 1.25rem;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tiles {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(42, 42, 42);
    margin: 6px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px lightgray;
    background-color: #fff;
}

h2 {
    padding: 10px;
    text-align: center;
    color: rgb(42, 42, 42);
    font-family: "Bytesized", serif;
    font-size: 1.75rem;
    position: absolute;
    width: inherit;
    z-index: 1;
}

/* 1. Rainbow Wheel (TODO: can you make it look like it's rising off the page without messing up position */
.container-1 {
    position: relative;
    top: 55%;
}

.circle {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer {
    width: 200px;
    height: 200px;
    background: conic-gradient(cyan, yellow, magenta, cyan);
    animation: rainbow-wheel 3s linear infinite;
    box-shadow: 0px 0px 150px -75px black;
}

.inner {
    width: 130px;
    height: 130px;
    background-color: white;
    box-shadow: inset 0px 0px 70px -70px black;
}

@keyframes rainbow-wheel {
    0% { transform: 
        translate(-50%, -50%)
        rotate(0deg);
    }
    100% { transform: 
        translate(-50%, -50%)
        rotate(360deg);
    }
}

.circle:hover {
    animation-direction: reverse;
}

/* 2. 3D Star (TODO: add a starburst in background on click, or some animation) */
.container-2 {
    position: relative;
    top: 25%;
    left: 15%;
}

.star {
    position: absolute;
    width: 200px;  
    aspect-ratio: 1;
    background: conic-gradient(yellow, orange, yellow, orange, yellow, orange, yellow, orange, yellow, orange, yellow);
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    50% {
      transform: scale(1.4);
      opacity: 1;
    }
    70% {
        transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
}

.star:hover {
    animation: bounceIn 1.5s;
}

/* 3. Crossword Text */
.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -48px;
    margin-top: 100px;
    width: 100%;
}

.container-3 .word {
    display: flex;
}

.container-3 .word .letter {
    width: 1.4em;
    height: 1.5em;
    margin: 0.05em;
    background-color: #636363;
    color: white;
    text-align: center;
    user-select: none;
    position: relative;
    order: 2;
    right: 50%;
}

.container-3 .word .letter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
.container-3 .word .letter:last-child {
    margin-right: auto;
}
  
.container-3 .word .pivot {
    background-color: rgb(184, 5, 5);
}
  
.container-3 .word .pivot,
.container-3 .word .pivot ~ .letter {
    order: 1;
    left: 50%;
}

.container-3 .word .pivot:hover {
    background-color: black;
}

/* 4. Floating Clouds */
#sky {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(154, 243, 243), rgb(248, 160, 27));
    overflow: hidden;
}

@keyframes floatUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.cloud {
    animation: floatUp 25s linear infinite;
}

/* 5. Disco Mode TODO: add tiny spinning disco ball in corner */
:root {
    --disco-black: rgb(17, 17, 17);
    --disco-gray: rgb(100, 100, 100);
    --disco-silver: rgb(200, 200, 200);
    --disco-white: rgb(250, 250, 250);
}

#disco-tile {
    background-color: var(--disco-white);
}

#disco-title {
    color: var(--disco-black);
}

#disco-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
}

#disco-buttons button {
    width: 50%;
    margin: 8px;
    padding: 10px;
    font-family: "Winky Sans";
    font-size: 1.4em;
    font-weight: 600;
    color: var(--disco-black);
    border: 5px solid var(--disco-black);
    border-radius: 50px;
    background-color: var(--disco-white);
    box-shadow: 3px 3px var(--disco-gray);
}

#disco-buttons button:hover {
    background-color: var(--disco-silver);
}

#disco-buttons button:active {
    box-shadow: -1px -1px var(--disco-gray);
    background-color: var(--disco-silver);
    transform: translateY(5%);
}

.animate-disco {
    animation: disco-animation 2s linear infinite;
}

@keyframes disco-animation {
    0% {
        --disco-black: magenta;
        --disco-gray: cyan;
        --disco-silver: yellow;
        --disco-white: black;
    }
    25% {
        --disco-black: cyan;
        --disco-gray: yellow;
        --disco-silver: black;
        --disco-white: magenta;
    }
    50% {
        --disco-black: yellow;
        --disco-gray: black;
        --disco-silver: magenta;
        --disco-white: cyan;
    }
    75% {
        --disco-black: black;
        --disco-gray: magenta;
        --disco-silver: cyan;
        --disco-white: yellow;
    }
}

/* 6. 3d Text */
#text-3d {
    background-color: rgb(255, 206, 255);
}

#text-3d p {
    text-align: center;
    margin-top: 60px;
    font-size: 10em;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(255, 206, 255);
    text-shadow: 5px 5px 0px rgb(217, 176, 217);
    -webkit-text-stroke: 1px rgb(254, 224, 254);
}

/* 7. Wave Text */
html {
    background:#833ab4; 
    background: linear-gradient(to bottom, #65FAFF, #FBB3CF);
  }
  
  body,
  html {
    display: grid;
    place-content: center;
    height: 100%;
    font-family: helvetica neue, helvetica, sans-serif;
  }
  
  #wave-text {
    isolation: isolate; 
    mix-blend-mode: multiply;
    position: relative;
  }
  
  #wave-text::before {
    content: "";
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(https://media0.giphy.com/media/3oEdvaxmd15YTHy6Uo/giphy.gif?cid=ecf05e47azzm1vgxel8zf4vjfphwcu5m9h4lfy1p27sko8uc&ep=v1_gifs_related&rid=giphy.gif&ct=g);
    filter: saturate(0);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    animation: darken 9s 4s;
    opacity: 1;
    animation-fill-mode: forwards;
  }
  
  
  #wave-text > * {
    font-size: clamp(40px, 5vw, 201px);
    position: relative;
    padding: 20px;
    margin: -20px;
    mix-blend-mode: screen;
    background-color: white;
    color: #0BD3D3;
    overflow: hidden;
    animation: blur 7s;
  }
  
  #wave-text > *::after {
    content: "";
    display: block;
    top: 0;
    height: 100%;
    width: 200%;
    position: absolute;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 50%);
    mix-blend-mode: screen;
    animation: move 10s;
    animation-fill-mode: forwards;
  }
  
  @keyframes move {
    from {
      transform: translateX(0);
  
    }
    
    to {
      transform: translateX(-100%)
    }
  }
  
  @keyframes darken {
    from {
      opacity: 1
    }
    
    to {
      opacity: 0;
    }
  }
  
  @keyframes blur {
    from {
      filter: blur(10px);
    }
    
    to {
      filter: blur(0px);
    }
  }

/* Create a reveal button where the 4 edges of the button float away and rotate to become the four sides of a box with text inside, the original button text fades away */
